/* Lev Panov, 2057/2, October 2010 */

#include "notepad_res.h"

MAIN_MENU MENU
{
    POPUP "&File"
    {
        MENUITEM "&New\tCtrl+N",                     CMD_NEW
        MENUITEM "&Open...\tCtrl+O",                 CMD_OPEN
        MENUITEM "&Save\tCtrl+S",                    CMD_SAVE
        MENUITEM "Save &as...\tCtrl+Shift+S",        CMD_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "E&xit\tCtrl+X",                    CMD_EXIT
    }
    POPUP "&Edit"
    {
        MENUITEM "&Wrap long lines\tCtrl+W",         CMD_WRAP
    }
}

ID_ACCEL ACCELERATORS
{
    "^N", CMD_NEW
    "^O", CMD_OPEN
    "^S", CMD_SAVE
    "^S", CMD_SAVE_AS, SHIFT
    "^X", CMD_EXIT
    "^W", CMD_WRAP
    VK_HOME, CMD_TEXT_HOME, VIRTKEY, CONTROL
    VK_END,  CMD_TEXT_END,  VIRTKEY, CONTROL
}

STRINGTABLE
{
    STRING_NOTEPAD,          "Notepad"
    STRING_ERROR,            "ERROR"

    STRING_UNTITLED,         "Untitled"

    STRING_ALL_FILES,        "All files (*.*)"
    STRING_TEXT_FILES_TXT,   "Text files (*.txt)"

    STRING_DOESNOTEXIST,     "File '%s' does not exist.\n\nDo you want to create a new file?"
    STRING_NOTSAVED,         "File '%s' has been modified.\n\nWould you like to save the changes?"
    STRING_NOTFOUND,         "'%s' could not be found."
}
