/* Lev Panov, 2057/2, October 2010 */

#include "notepad_res.h"

MAIN_MENU MENU
{
    POPUP "File"
    {
        MENUITEM "New",              CMD_NEW
        MENUITEM "Open...",          CMD_OPEN
        MENUITEM "Save",             CMD_SAVE
        MENUITEM "Save as...",       CMD_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "Exit",             CMD_EXIT
    }
    POPUP "Edit"
    {
        MENUITEM "Wrap long lines",  CMD_WRAP
        MENUITEM "Font...",          CMD_FONT
    }
}

STRINGTABLE
{
    STRING_NOTEPAD,                             "Notepad"
    STRING_ERROR,                               "ERROR"

    STRING_UNTITLED,                            "Untitled"

    STRING_ALL_FILES,                           "All files (*.*)"
    STRING_TEXT_FILES_TXT,                      "Text files (*.txt)"

    STRING_DOESNOTEXIST,                        "File '%s' does not exist.\n\n\
    Do you want to create a new file?"
    STRING_NOTSAVED,                            "File '%s' has been modified.\n\n\
    Would you like to save the changes?"

    STRING_NOTFOUND,                            "'%s' could not be found."
}
